<?xml version="1.0" encoding="UTF-8"?>
<web-app >
  <servlet>
    <servlet-name>ListProductServlet</servlet-name>
    <servlet-class>Servlet.ListProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductServlet</servlet-name>
    <url-pattern>/listProduct</url-pattern>
  </servlet-mapping>

</web-app>