<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>ListProductServlet</servlet-name>
    <servlet-class>Servlet.ListProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductServlet</servlet-name>
    <url-pattern>/listProduct</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>productAddServlet</servlet-name>
    <servlet-class>Servlet.productAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productAddServlet</servlet-name>
    <url-pattern>/ADDJSP</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>addTypeServlet</servlet-name>
    <servlet-class>Servlet.addTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTypeServlet</servlet-name>
    <url-pattern>/AddType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowProductServlet</servlet-name>
    <servlet-class>Servlet.ShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductServlet</servlet-name>
    <url-pattern>/ShowProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>Servlet.addProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>Servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoffServlet</servlet-name>
    <servlet-class>Servlet.LogOffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoffServlet</servlet-name>
    <url-pattern>/Logoff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addOrderItemServlet</servlet-name>
    <servlet-class>Servlet.OrderItemAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOrderItemServlet</servlet-name>
    <url-pattern>/addOrderItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteOrderItemServlet</servlet-name>
    <servlet-class>Servlet.OrderItemDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteOrderItemServlet</servlet-name>
    <url-pattern>/deleteOrderItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listOrderItemServlet</servlet-name>
    <servlet-class>Servlet.OrderItemListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listOrderItemServlet</servlet-name>
    <url-pattern>/listOrderItem</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>Filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>